.mainBody{
    // style this sectin with a backgrund image
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 468px) {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

.footerText{
    font-family: 'Inter', sans-serif;
    font-size: 15px ; 
    margin-top: 20px;
}

.footerTT{
    font-family: 'DM Serif Display', serif;
    font-size: 60px ;
    line-height: 60px;
    padding: 5px 15px 2px  2px ;
    margin-top: 10px;

    @media (max-width: 468px) {
        font-size: 40px ;
        line-height: 40px;
        padding: 5px 15px 2px  2px ;
        margin-top: 10px;
    }
}


// contact form module